__pycache__/
**/__pycache__/*
**/__pycache__/
./dbnet/ppocr/utils/loggers/__pycache__/wandb_logger.cpython-38.pyc
*.pyc
*.pyo
*.pyd

*.swp
*.swo

*.onnx
*.pt
conformer/espnet_onnx/
conformer/msadvisor/
conformer/om_0_1.txt
*.json
dbnet/gen-onnx/infer-mv3-db/inference.pdiparams.info
dbnet/gen-onnx/infer-mv3-db/
