seqeval==1.2.2
--extra-index-url   https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu 
--extra-index-url   https://download.pytorch.org/whl/cpu
torchvision==0.19.0+cpu
onnx==1.16.2
tqdm==4.66.5
transformers==4.44.2
onnxconverter-common==1.14.0
onnxmltools==1.12.0